
* {
  box-sizing: border-box;
  text-align: center;
  font-size: 25px;
  margin: 0;
}

.calculator {
  border: 1px solid rgb(242, 242, 242);
  background-color: rgb(204, 204, 204);
  font-size: 0;
  margin: auto;
  height: 500px;
  width: 400px;
}

.operator--hoverHighlight {
  display: inline-block;
  border: 1px solid rgb(242, 242, 242);
  height: 20%;
  line-height: 100px;
  vertical-align: middle;
  width: 25%;
}

.operator--hoverHighlight:hover {
  background-color: rgb(230, 230, 230);
}

.result {
  border: 1px solid rgb(242, 242, 242);
  display: inline-block;
  height: 20%;
  line-height: 100px;
  vertical-align: middle;
  width: 75%;
}

.operator {
  background-color: rgb(230, 230, 230);
  border: 1px solid rgb(242, 242, 242);
  display: inline-block;
  height: 20%;
  line-height: 100px;
  vertical-align: middle;
  width: 25%;
}

.operator:hover {
  color: red;
}

.number {
  border: 1px solid rgb(242, 242, 242);
  display: inline-block;
  height: 20%;
  line-height: 100px;
  vertical-align: middle;
  width: 25%;
}
